/* Css commun à toutes les pages */

.middle{
    margin-left: 100px;
    margin-right: 100px;
}
.Flex{
    display: flex;
}
h1{
    text-align: center;
}
.first{
    margin-left:300px;
    margin-right: 300px;
    margin-top: 120px;
}

/* navbar */

.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    background-color: #656565;
    transition: 0.7s all;
}
.navbar li{
    margin: 5px;
    margin-left: 20px;
}
.navbar li a:hover{
    background-color: white;
    color: #656565;
    transition: 0.7s all;
}
.navbar{
    background-color: black;
    margin: 0;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar .Title{
    padding: 28px;
    font-size: 1.5em;
    background-color: #656565;
    font-weight: bold;
}

/* CSS utilisé pour les pages personnelles */
/* CSS utilisé sur la page rock */

body.rock{
    background-color: #3A3A3A;
    color: white;
}
body.rock div.middle{
    padding-top: 10px;
    background-color: rgba(255,255,255,0.4);
}
body.rock .blue{
    background-color: #0038FF;
    padding: 10px;
    margin: 10px;
}
body.rock .sumUp{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

/*CSS utilisé sur la page electro */

.flex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.elec_body {
    background: linear-gradient(rgb(169, 50, 38), #5F271F);
    max-width: 1100px;
    margin: auto;
}

.elec_content {
    background-color: rgb(241, 148, 138);
    padding: 10px 10px 10px 10px ;
}

.elec_title {
    background-color: rgb(243, 156, 18);
    text-align: center;
    margin: 120px 300px 0 300px;
}

.elec_sumup {
    background-color: rgb(243, 156, 18);
    margin : 30px 100px 30px 100px;
    padding: 2px 2px 2px 2px;
}

.yellow_box {
    background-color :rgb(243, 156, 18);
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.redim {
    max-width : 100%;
}