/* Css commun à toutes les pages */ 

body{
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}

.title {
    text-align: center;
}
.first{
    margin-left:150px;
    margin-right: 150px;
    margin-top: 100px;
}
.sumUp {
    margin : 30px 100px 30px 100px;
    padding: 5px;
}
.textbox {
    margin: 10px;
    padding: 10px;
    width: 400px;
}
.contentbox{
    margin: 10px;
    padding: 15px 15px 15px 15px;
}
.normalbox{
    padding: 10px;
    margin: 15px 60px 15px 50px;
}
.transparentwhite{
    background-color: rgba(255, 255, 255, 0.4);
}
.cyan{
    background-color: #00E0FF;
}
.yellow{
    background-color: rgb(243, 156, 18);
}
.Flex{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@font-face {
    font-family: neonSans;
    src: url(NeonSans.otf);
}
.NavTitle{
    font-family: neonSans;
    color: white;
}

/* CSS de la navbar*/
.FlexNav{
    display: flex;
}

.navbar ul {
    display: none;
}
.navbar{
    background-color: black;
    margin: 0;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar .NavTitle{
    padding: 28px;
    background-color: #656565;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}
.dropdown{
    position: absolute;
    display: inline-block;
    background-color: white;
    font-size: 1.5em;
    right: 0px;
}
.Delem{
    display: none;
    position: relative;
    background-color:black;
    width: 100%;
    z-index: 1;
}
.dropdown:hover .Delem {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}
.menu{
    font-size: 1.5em;
    text-align: center;
    padding: 21px;
    background-color: #656565;
    color: white;
}
.Delem a{
    color: white;
    text-decoration: none;
    padding: 3px;
    border: 1px solid white;
    transition: 0.5s;
    text-align: center;
}
.Delem a:hover{
    background-color:#656565 ;
    transition: 0.5s;
}

/* CSS utilisé pour la page electro */
body.elec {
    background: linear-gradient(rgb(169, 50, 38), #5F271F);
}
.elec_content {
    background-color: rgb(241, 148, 138);
    padding: 10px 10px 10px 10px;
    margin: 0; 
}
.space{
    margin-top: 50px;
}

/*CSS utilisé pour la page contact */
body.contact{
    background-color: #000D81;
}   
.contact_content{
    padding: 10px 10px 10px 10px;
    margin: 0;
}

/* */