/* Css commun à toutes les pages */

.middle{
    margin: auto;
    background-color: rgba(255,255,255,0.4);
    padding: 10px 10px 10px 10px ;
    max-width: 1100px;
}
.FlexNav{
    display: flex;
}
.Flex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.blue{
    background-color: #0038FF;
}
.first{
    margin-left:300px;
    margin-right: 300px;
    margin-top: 120px;
}
.title {
    text-align: center;
}
.sumUp {
    margin : 30px 100px 30px 100px;
    padding: 2px 2px 2px 2px;
}
.textbox {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    width: 600px;
}
.contentbox{
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
.yellow{
    background-color: rgb(243, 156, 18);
}
.redim {
    max-width : 100%;
}
.sumUp a{
    text-decoration: none;
    color: inherit;
}

/* navbar */

.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    background-color: #656565;
    transition: 0.7s all;
}
.navbar li{
    margin: 5px;
    margin-left: 20px;
}
.navbar li a:hover{
    background-color: white;
    color: #656565;
    transition: 0.7s all;
}
.navbar{
    background-color: black;
    margin: 0;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar .NavTitle{
    padding: 28px;
    font-size: 1.5em;
    background-color: #656565;
    font-weight: bold;
}
.dropdown{
    display: none;
}
/* CSS utilisé pour les pages personnelles */
/* CSS utilisé sur la page rock */

body.rock{
    background-color: #3A3A3A;
    color: white;
    max-width: 1100px;
    margin: auto;
}
/*CSS utilisé sur la page electro */

body.elec {
    background: linear-gradient(rgb(169, 50, 38), #5F271F);
}
.elec_content {
    background-color: rgb(241, 148, 138);
    padding: 10px 10px 10px 10px ;
    margin: auto;
    max-width: 1100px;
}